/*- SELECTORES COMUNES -*/

/*- NAVBAR -*/

.menu-mobile{
    .btn{
        &:hover{
            i{
                color: $p-color;
                transition: 0.5s;
            }
        }
    }
}

.modal-header{
    border: 0;
    .btn-close{
        margin: auto;
    }
}

.modal-footer {
    justify-content: center;
}

.list-group-item {
    text-align: center;
    border: 0;
    a{
        text-decoration: none;
        color: $p-color;
        font-weight: 800;
    }
}

.logo {
    padding-left: 50px;
    span {
        font-family: $titulo;
        font-weight: 700;
        font-size: 24px;
        padding-left: 15px;
    }
    img {
        width: 100px;
        height: auto;
    }
}

.main-nav {
    padding-right: 50px;
    background: none;
    ul {
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            padding: 0 10px;
            a {
                color: $s-color;
                text-decoration: none;
                transition: 0.5s;
                &:hover {
                    color: $t-color;
                    border-bottom: 1px solid $t-color;
                    transition: 0.5s;
                }
            }
        }
    }
}

.menu-mobile{
    .navbar {
        padding: 30px 0;
    }
}


/*- FOOTER -*/

footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: $footer;
    .logo-foot {
        width: 50%;
        padding: 50px;
        img {
            padding-bottom: 25px;
            width: 100px;
            height: auto;
        }
    }
    .links-foot {
        width: 25%;
        height: auto;
        padding: 50px;
        h3 {
            padding-bottom: 15px;
        }
        a {
            margin-bottom: 15px;
            text-decoration: none;
            font-weight: 800;
            display: block;
            color: $s-color;
        }
    }
    .social-foot {
        width: 25%;
        height: auto;
        padding: 50px;
        h3 {
            padding-bottom: 15px;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                margin-left: 0;
                margin-bottom: 15px;
                word-break: keep-all;
                a {
                    text-decoration: none;
                    font-weight: 800;
                }
            }
        }
    }
}

.logo-end {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    mix-blend-mode: screen;
    text-align: center;
    span {
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        padding: 0 10px;
        font-size: 10px;
    }
    .logo-end-main {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
    }
    .logo-end-holder {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}