

/*- SELECTORES GENERALES -*/

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
    background-color: none;
    font-family: $parrafo;
    color: $s-color;
}

body {
    background-color: $p-color;
    margin: 0;
    border: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titulo;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
option,
textarea,
select {
    border: 1px solid $s-color;
    background-color: $s-color;
    color: $p-color;
}

button {
    background-color: $s-color;
    color: $p-color;
    min-width: 100px;
    padding: 7px;
    border-radius: 2px;
    cursor: pointer;
}