.history-main {
    width: 100%;
    .planet {
        @extend .history-main;
        overflow: hidden;
        @include flex(flex, row, center, center);
        z-index: -9999;
        padding: 10px 0;
        .pluto-3d{
            width: 20em;
            height: 20em;
            background: url('../media/pluto-map.webp');
            box-shadow: inset -2em -2em 2em $p-color,
             inset 2em 2em 2em rgba(255,255,255,0.25),
             inset 0.5em 0.5em 1em rgba(255,255,255,0.25),
             -0.1em -0.1em 0.5em $s-color;
            position: relative;
            animation: rotate 30s linear infinite, orbit-pla 30s infinite ease-in-out;
            border-radius: 50%;
            background-repeat: repeat;
            background-size: 200% 100%;
            .planet-desc{
                margin-left: -50px;
                font-size: 10px;
                span{
                    padding: 2px 0;
                    margin-bottom: 5px;
                    border-bottom: 1px solid white;
                }
                p{
                    
                    margin-bottom: 0;
                }
            }
            .charon-3d {
                background: url('../media/charon-map.webp');
                box-shadow: inset -1.5em -1.5em 1.5em $p-color;
                width: 10em;
                height: 10em;
                position: absolute;
                left: -20em;
                top: 50%;
                transform: translateY(-50%);
                animation: rotate 30s linear infinite, orbit-sat 30s infinite ease-in-out;
                z-index: 1;
                border-radius: 50%;
                background-repeat: repeat;
                background-size: 200% 100%;
            }
        }
    }
    .history-hint{
        padding: 25px 50px;
        text-align: center;
        span{
            font-family: "Give You Glory", cursive;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
        }
    }
    .history-title {
        @extend .history-main;
        height: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        h1 {
            font-size: 100px;
            margin-left: 30px;
            text-align: center;
            font-weight: 100;
            animation: title-in 5s ease-out forwards;
            animation-delay: all 1s;
        }
        span {
            opacity: 1;
            z-index: 1;
        }
    }
    
    .history-content {
        @include flex(flex, row, center, center);
        flex-wrap: wrap;
        padding: 50px;
        max-width: 1024px;
        margin: 0 auto;
        .history-content-img {
            width: 50%;
            margin: 0 auto;
            padding: 25px;
            img {
                width: 100%;
                text-align: center;
            }
        }
        .history-content-text {
            width: 50%;
            padding: 25px;
        }
    }

    .history-discovery{
        @include flex(flex, column, center, center);
        padding: 50px;
        max-width: 1024px;
        margin: 0 auto;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: -25px;
            z-index: 1;
        }
        .history-discovery-text{
            background-color: $footer;
            padding: 50px;
            h3{
                text-align: center;
                padding-bottom: 15px;
            }
        }
    }

    .history-family{
        @include flex(flex, column, center, center);
        padding: 50px;
        max-width: 1024px;
        margin: 0 auto;
        h2{
            width: 100%;
            text-align: center;
            padding-bottom: 25px;
        }
        p{
            padding-bottom: 25px;
        }
        .p-family{
            width: 100%;
            @include flex(flex, row, center, center);
            flex-wrap: wrap;
            .sec1, .sec2, .sec3, .sec4, .sec5, .sec6{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 35px;
                img{
                    width: 50px;
                    height: auto;
                    padding-bottom: 15px
                }
            }
        }
    }

    .history-demotion{
        @include flex(flex, row, center, center);
        flex-wrap: wrap;
        padding: 50px;
        max-width: 1024px;
        margin: 0 auto;
        .history-demotion-text{
            width: 50%;
        }
        .history-demotion-img{
            @include flex(flex, row, center, center);
            width: 50%;
            min-height: 350px;
            background-color: $footer;
            background-image: url('../media/iau.webp');
            background-position: center;
            background-repeat: no-repeat;
            padding: 50px;
            p{
                margin: 0;
            }
        }
    }

    .history-video{
        @include flex(flex, column, center, center);
        flex-wrap: wrap;
        padding: 50px;
        max-width: 1024px;
        margin: 0 auto;
        h2{
            padding-bottom: 25px;
            text-align: center;
        }
        iframe{
            width: 100%;
            max-width: 560px;
            max-height: 315px;
            padding: 5px;
            background-color: $footer;
        }
    }

    .history-identity{
        @include flex(flex, column, center, center);
        flex-wrap: wrap;
        padding: 50px;
        max-width: 1024px;
        margin: 0 auto;
        h2{
            padding-bottom: 25px;
            text-align: center;
        }
        .history-identity-blocks{
            @include flex(flex, row, space-between, flex-start);
            .block{
                @include flex(flex, column, center, center);
                width: 30%;
                text-align: center;
                .block-header{
                    width: 100%;
                    height: 50px;
                    i{
                        padding: 12px 0;
                        font-size: 24px;
                        color: $p-color;
                    }
                }
                .block-body{
                    padding: 25px;
                    span, p{
                        color: $p-color;
                    }
                }
            }
            .block1, .block2{
                background-color: $s-color;
                .block-body{
                    span{
                        font-weight: 800;
                    }
                }
            }
            .block3{
                background-color: $footer;
                .block-header{
                    i{
                        color: $s-color;
                    }
                }
                .block-body{
                    span{
                        font-weight: 800;
                    }
                    span, p{
                        color: $s-color;
                    }
                }
            }
        }
    }

    .history-life{
        @include flex(flex, column, center, center);
        flex-wrap: wrap;
        padding: 50px;
        max-width: 1024px;
        margin: 0 auto;
        .history-life-title{
            h2{
                padding-bottom: 25px;
            }
        }
        .history-life-text{
            background-color: $footer;
            padding: 50px;
            p{
                margin: 15px 0;
            }
        }
    }

    .history-curiosities{
        @include flex(flex, column, center, center);
        flex-wrap: wrap;
        padding: 50px;
        max-width: 1024px;
        margin: 0 auto;
        h2{
            padding-bottom: 25px;
        }
        ul{
            li{
                padding-bottom: 25px;
            }
        }
    }

}

.first-letter{
    &::first-letter{
        initial-letter: 2;
        padding-right: 5px;
    }
}